.App {
  text-align: center;
}

.table-container {
  width: 70%;
  margin: 5em auto;
}

table {
  width: 100%;
  background-color: #101418;
  color: white;
  border: 1px solid gray;
}

th {
  padding: 1.5em;
}

tr {
  border-bottom: 2px solid gray;
  cursor: pointer;
}

th {
  cursor: pointer;
}

td {
  padding: 1em;
}

input {
  padding: 1em;
}

input[type='checkbox'] {
  height: 1.5em;
  width: 1.5em;
}

.search-bar {
  margin: 1em;
}

.idTitle {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.3em;
}

.selectedRow {
  background-color: #2e3f4e;
}

.row:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.table-footer {
  margin-top: 1em;
  width: 100%;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
}
