.App {
    text-align: center;
}

.table-container {
    width: 70%;
    margin: 5em auto;
}

table {
    width: 100%;
    background-color: lightgray;
}

th {
    border-bottom: 2px solid gray;
    padding: 1.5em;
}

tr {
    border: 1px solid gray;
    cursor: pointer;
}

th {
    cursor: pointer;
}

td {
    padding: 1em;
}

input {
    padding: 1em;
}

input[type='checkbox'] {
    height: 1.5em;
    width: 1.5em;
}

.search-bar {
    margin: 1em;
}

.idTitle {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 0.3em;
}

.selectedRow {
    background-color: antiquewhite;
}

.row:hover {
    background-color: rgb(168, 160, 150);
}

tfoot {
    width: 100%;
    position: relative;
    right: 0
}

.table-footer {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin: 1em;
    width: 100%;
    background-color: aliceblue;
}