.App {
    text-align: center;
}

.table-container {
    width: 70%;
    margin: 5em auto;
}

table {
    width: 100%;
    background-color: lightgray;
}

th {
    border-bottom: 2px solid gray;
    padding: 1.5em;
}

tr {
    border: 1px solid gray;
}

th {
    cursor: pointer;
}

td {
    padding: 1em;
}

input {
    padding: 1em;
}

.search-bar {
    margin: 1em;
}

.idTitle {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 0.3em;
}